@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global styles here */

:root {
  --primary-color: #2c3e50; /* Deep blue-gray for primary elements */
  --secondary-color: #34495e; /* Slightly lighter deep blue-gray for secondary elements */
  --accent-color: #3498db; /* Vibrant blue for accents and highlights */
  --text-color: #333333; /* Dark gray for text */
  --background-color: #ffffff; /* White background */
  --card-background: #ffffff; /* Pure white for card backgrounds */
  --border-color: #e0e0e0; /* Light gray for borders */
}

[data-theme='dark'] {
  --primary-color: #ecf0f1; /* Light gray for primary elements in dark mode */
  --secondary-color: #bdc3c7; /* Lighter gray for secondary elements in dark mode */
  --accent-color: #5dade2; /* Softer blue for accents in dark mode */
  --text-color: #f8f9fa; /* Light gray text in dark mode */
  --background-color: #2c3e50; /* Dark blue-gray background in dark mode */
  --card-background: #333333; /* Dark gray for card backgrounds in dark mode */
  --border-color: #424242; /* Darker gray for borders in dark mode */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Modern and clean font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; /* Bold for headings */
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3.5rem; /* Larger for main titles */
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem; /* Slightly larger for body text */
  line-height: 1.7;
  margin-bottom: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
